<div
    x-data="{
    selected: 'upcoming',
    patients: [],
    async loadPatients() {
      const res = await fetch('/api/appointments');
      this.patients = await res.json();
    }
  }"
  x-cloak
  class="rounded-2xl border border-gray-200 bg-white px-5 pt-5 pb-5 sm:px-6 sm:pt-6 dark:border-gray-800 dark:bg-white/[0.03]"
>
  <div class="mb-6 flex flex-col gap-5 sm:flex-row sm:justify-between">
    <div class="w-full">
      <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">
        Appointments
      </h3>
      <p class="text-theme-sm mt-1 text-gray-500 dark:text-gray-400">
        Manage all appointments for Dr Demo
      </p>
    </div>

    <div class="flex w-full items-start gap-3 sm:justify-end">
      <div
        class="inline-flex w-fit items-center gap-0.5 rounded-lg bg-gray-100 p-0.5 dark:bg-gray-900"
      >
        <button
          @click="selected = 'upcoming'"
          :class="selected === 'upcoming'
            ? 'shadow-theme-xs text-gray-900 dark:text-white bg-white dark:bg-gray-800'
            : 'text-gray-500 dark:text-gray-400'"
          class="text-theme-sm rounded-md px-3 py-2 font-medium hover:text-gray-900 dark:hover:text-white"
        >
          Upcoming
        </button>

        <button
          @click="selected = 'completed'"
          :class="selected === 'completed'
            ? 'shadow-theme-xs text-gray-900 dark:text-white bg-white dark:bg-gray-800'
            : 'text-gray-500 dark:text-gray-400'"
          class="text-theme-sm rounded-md px-3 py-2 font-medium hover:text-gray-900 dark:hover:text-white"
        >
          Completed
        </button>

        <button
          @click="selected = 'cancelled'"
          :class="selected === 'cancelled'
            ? 'shadow-theme-xs text-gray-900 dark:text-white bg-white dark:bg-gray-800'
            : 'text-gray-500 dark:text-gray-400'"
          class="text-theme-sm rounded-md px-3 py-2 font-medium hover:text-gray-900 dark:hover:text-white"
        >
          Cancelled
        </button>
      </div>
    </div>
  </div>

  <div x-show="selected === 'upcoming'" x-transition.opacity>
    <div class="min-w-[700px] p-4 text-sm text-gray-700 dark:text-gray-300">

      <div class="overflow-hidden rounded-xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
        <div class="max-w-full overflow-x-auto">
          <table class="min-w-full">
            <thead>
              <tr class="border-b border-gray-100 dark:border-gray-800">
                <th class="px-5 py-3 sm:px-6">Patient</th>
                <th class="px-5 py-3 sm:px-6">Reason</th>
                <th class="px-5 py-3 sm:px-6">Time</th>
                <th class="px-5 py-3 sm:px-6">Status</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-100 dark:divide-gray-800">
              <!-- <template x-for="patient in patients" :key="patient.id"> -->
                <tr>
                  <td class="px-5 py-4 sm:px-6 text-center align-middle">
                    <div class="flex justify-center items-center gap-3">
                      Sophia Johnson
                    </div>
                  </td>
                  <td class="px-5 py-4 sm:px-6 items-center text-center align-middle">
                    <div class="flex justify-center items-center gap-3">
                      <span
                          class="inline-flex items-center justify-center gap-1 rounded-full bg-error-500 px-2.5 py-0.5 text-sm font-medium text-white"
                        >
                          General Checkup
                        </span>
                    </div>
                  </td>
                  <td class="px-5 py-4 sm:px-6 text-center align-middle">
                    <div class="flex justify-center items-center gap-3">
                      9:00 AM, 25th Dec 2024
                    </div>
                  </td>
                  <td class="px-5 py-4 sm:px-6 items-center text-center align-middle">
                    <div class="flex justify-center items-center gap-3">
                      <button
                          class="inline-flex items-center gap-2 px-4 py-3 text-sm font-medium text-white transition rounded-lg bg-success-500 shadow-theme-xs hover:bg-brand-600"
                        >
                          Completed
                        </button>
                        <button
                          class="inline-flex items-center gap-2 px-4 py-3 text-sm font-medium text-white transition rounded-lg bg-error-500 shadow-theme-xs hover:bg-brand-600"
                        >
                          Cancel
                        </button>
                    </div>
                  </td>
                </tr>
              <!-- </template> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div x-show="selected === 'completed'" x-transition.opacity>
    <div class="min-w-[700px] p-4 text-sm text-gray-700 dark:text-gray-300">
      Completed appointments table goes here
    </div>
  </div>

  <div x-show="selected === 'cancelled'" x-transition.opacity>
    <div class="min-w-[700px] p-4 text-sm text-gray-700 dark:text-gray-300">
      Cancelled appointments table goes here
    </div>
  </div>

</div>